.confer {
	background-image: linear-gradient(0deg, rgba(9, 9, 9, 0.755), rgba(0, 0, 0, 0.744)), url(https://t4.ftcdn.net/jpg/03/29/81/25/360_F_329812519_R6GkhIJ0r9SMCtWg4dEwRmxnJLMG4XBL.jpg) !important;
  
	background-position: center !important;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	min-height: 100vh;
  }